* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

.header-line {
    width: 80%;
    height: 1.5em;
    margin: auto;
    background-color: #333F50;
}

.main-content {
    min-height: 100vh;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section {
    grid-column: span 2;
    background-color: #D6DCE5;
    color: #464646
}

.left-content {
    padding: 1rem 2rem;
}

.image {
    width: 100%;
    text-align: center;
}

.profile {
    width: 100%;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    border-bottom: 3px solid #eff6ff;
}


.profile img {
    width: 80%;
    border-radius: 50%;
    border: 4px solid #eff6ff;
}

.name {
    font-size: 1.8rem;
    color: #464646;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 1.2rem;
}

.career {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #464646;
    padding-bottom: 0.25rem;

}

.right-section {
    background-color: #fff;
    height: 100%;
    grid-column: span 5;
}

.main-title {
    font-size: 1.4rem;
    color: #464646;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

.contact-info ul li {
    padding: 0.25rem 0;
    display: flex;
    align-items: center;
}

.contact-info ul li i {
    padding-right: 0.8rem;
    font-size: 1.2rem;
    color: #333F50;
}

.top-skills-section ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem 0;
}

.progress-bar {
    width: 100%;
    height: 0.4rem;
    background-color: #eff6ff;
    position: relative;
    border-radius: 20px;
    margin-top: 5%;
}

.actual-progress {
    position: absolute;
    background-color: #333F50;
    left: 0;
    border-radius: 20px;
    height: 100%;
}

.tool-set {
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill {
    background-color: #eff6ff;
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 0.1rem 0.5rem;
    margin: 0.2rem;
    color: #1d242e;
}

.languages-section {
    margin-bottom: 20px;
}

.language-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5rem 0.2rem;
}

.language {
    margin-right: 1rem;
}

.proficiency-level {
    background-color: #eff6ff;
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 0.1rem 0.5rem;
    margin: 0.2rem;
}

.certification {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.certification img {
    max-width: 50%;
    height: auto;
}

/* Right Section Styles */
.right-main-content {
    padding: 1rem 2rem;
}

.sect {
    padding-bottom: 2rem;
}

.right-title {
    font-weight: 350;
    /* font-size: 2rem; */
    color: #333F50;
    font-size: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}


.para {
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: #333F50;
}

.about {
    padding-bottom: 1.5rem;
}

/* Experience Styles */
/* .project-wrapper {
    border-left: 3px solid #D6DCE5;
    position: relative;
} */

.timeline {
    padding-left: 2.1rem;
    color: #333F50;
    padding-bottom: 1.4rem;
    border-left: 3px solid #D6DCE5;
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #333F50;
    border-radius: 50%;
    transform: translateX(-60%);
    left: 0;
}

.company-name {
    font-weight: 600;
    padding-bottom: 0.2rem;
}

.project-intro {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #D6DCE5;
    margin-bottom: 0.5rem;
}

.job-title {
    font-weight: 500;
    font-size: 1.1rem;
}

.job-desc-word,
.proj-time {
    font-style: italic;
}

.proj-desc {
    padding-bottom: 0.4rem;
    display: flex;
    justify-content: space-between;
}

.stack {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.tool {
    border-radius: 10px;
    background-color: #D6DCE5;
    margin: 0.2rem;
    padding: 0 0.4rem;
    font-size: 0.8rem;
    color: #1d242e;
}

.about-proj {
    padding-bottom: 0.4rem;
}

.achievements ul li {
    list-style-type: disc;
    color: #333F50;
}

.achievements ul {
    margin-left: 1rem;
}